/** SCREEN BACKGROUND **/

.screen-background-wrapper {
  position: absolute;
  
  top: 0;
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.screen-background {
  opacity: 75%;
  z-index: -1;
  
  width: min(80vw, 32rem);
}

/*** HEADER ***/

header {
  gap: 1rem;
}

.header__image {
  border-radius: 50%;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
  margin: 0.5rem;
  box-shadow: 0 2.5px 5px 2px var(--blue-dark-50);
}

header p {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.25rem;
}

header h1 {
  font-family: var(--cursive-font);
  text-align: center;
  font-size: 3rem;
  line-height: 100%;
  padding: 0.5rem 0;
  letter-spacing: -0.05rem;
}

/*** MAIN ***/

main {
  margin: 3rem 10vw;
  gap: 3rem;
}

/*** EVENT DETAILS ***/

section.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  
  text-align: center;
}

section.event-details p {
  font-size: 1.25rem;
  max-width: min(80vw, 32rem);
}

section.event-details .invitation {
  font-style: italic;
}

section.event-details .locations {
  display: flex;
  flex-direction: column;
  
  margin: 2rem 0;
  gap: 2rem;
}

section.event-details .date-time, .location {
  font-variant: small-caps;
  font-weight: 700;
}

section.event-details .extra-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

section.event-details .extra-info p {
  font-style: italic;
  font-size: 1rem;
}

/*** DRIVING INSTRUCTIONS LINK ***/

a.driving-instructions-link {
  gap: 1rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

a.driving-instructions-link .compass-icon {
  height: 2.5rem;
}

a.driving-instructions-link .label {
  /* center the text visually */
  margin-bottom: 0.3rem;
}

a.driving-instructions-link .arrow-icon {
  height: 2rem;
}

/*** GENERIC CARD ***/

section.card {
  background-color: var(--background-card-color);
  background-image: var(--background-card-img);
  background-size: 100px;
  
  box-shadow: 0 0 8px 1px var(--shadow-grey-card);
  border-radius: var(--card-border-radius);
  padding: 2rem;
  width: min(80vw, 25rem);
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section.card * {
  color: var(--green-dark-25);
}

section.card button, section.card.a {
  color: var(--green-dark-50);
}

section.card h2 {
  font-family: var(--serif-font);
  font-weight: 700;
  font-size: 2rem;
  
  color: var(--green-dark-25);
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

section.card h2 img {
  height: 2.25rem;
}

section.card p {
  font-size: 1rem;
}

section.card a img {
  padding-top: 0.125rem;
}

/*** RSVP CARD ***/

section.rsvp h2 img {
  height: 2.5rem;
  /* center the text visually */
  padding-top: 0.25rem;
}


section.rsvp form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

section.rsvp form div {
  display: flex;
  align-content: flex-start;
  gap: 1rem;
}

section.rsvp .field label {
  flex: 1;
}

section.rsvp .field input {
  flex: auto;
  max-width: 12.5rem;
}

section.rsvp .field input[type="number"] {
  max-width: 4rem;
}

section.rsvp form button img {
  /* center the text visually */
  padding-top: 0.25rem;
}

section.rsvp .input-problem-message {
  font-style: italic;
  font-size: 1rem;
  
  max-width: 75%;
  margin: 0.5rem;
  text-align: center;
  align-self: center;
}

section.rsvp .result-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  
  font-style: italic;
  
  padding: 0.25rem;
}

section.rsvp .result-message img {
  width: 2.5rem;
}

section.rsvp .result-message p {
  width: 75%;
  text-align: center;
}

/*** PRINT FORMATTING ***/

/* disable print body */
main.print, .print-background { display: none; }

@media print {
  :root {
    --body-content-width: calc(var(--page-width) - 0.54in);
    --body-content-height: calc(var(--page-height) - 0.54in);
  }
  
  body {
    padding: 0.125in;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .print-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--page-width);
    height: var(--page-height);
    z-index: -1;
    opacity: 0.75;
  }
  
  .screen-background-wrapper { display: none; }
  
  .body-wrapper {
    box-sizing: content-box;
    padding: 0.125in;
    width: var(--body-content-width);
    height: var(--body-content-height);
    background: color-mix(in srgb, var(--blue-light-75), transparent);
    box-shadow: 0 0 0.04in 0.005in var(--shadow-grey);
  }

  header, main, footer {
    margin: 0;
    gap: 0.125in;
  }

  .header__image {
    height: 1in;
    width: 1in;
    margin: 0;
    box-shadow: 0 0.01in 0.04in 0.02in var(--blue-dark-50);
  }
  
  header {
    gap: 0.08in;
  }

  header h1 {
    font-family: var(--cursive-font);
    font-size: 26pt;
    text-align: center;
    line-height: 100%;
    padding: 0 0;
    letter-spacing: -0.05rem;
  }
  
  .names {
    color: var(--blue-dark-50);
  }

  header p {
    font-family: var(--serif-font);
    font-size: 10pt;
  }
  
  main.print {
    display: flex;
    flex-direction: column;
    gap: 0.125in;
    margin: 0.1in;
  }

  main p {
    text-align: center;
    font-size: 8pt;
  }
  
  main .simple-details {
    grid-area: details;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.1in;
  }
  
  .simple-details .invitation {
    grid-column: span 2;
  }
  
  .simple-details h2 {
    font-size: 10pt;
    font-variant: small-caps;
    text-align: center;
  }

  main .date-time, main .location {
    font-size: 8pt;
    font-weight: normal;
    font-variant: none;
  }

  main .divider-line {
    display: flex;
    justify-content: center;
  }
  
  main .divider-line img {
    width: 1in;
  }
  
  main .online-info {
    display: flex;
    flex-direction: column;
  }
  
  main .invitation, main .online-info p {
    font-style: italic;
  }
  
  main a, main a:visited {
    color: var(--blue-dark-50);
    font-weight: 700;
    text-decoration: none;
    font-size: 8pt;
    font-variant: initial;
    
    padding: 0;

    background: transparent;

    border: none;
    border-radius: var(--button-border-radius);

    box-shadow: none;
    transition: box-shadow 0.15s ease;
    
    display: block;
  }
  
  main .qr-code {
    height: 1in;
  }

  .divider {
    height: 0.25in;
  }
  
  /* disable screen body */
  main.screen { display: none; }
}